// Start Footer
footer.footer.pt-5.bg-secondary
  .container
    .row
      //- Collumn One
      .col-md-6.col-lg.mb-5
        h5.text-white About
        p.p-color Far far away, behind the word mountains, far from the countries
        ul.list-unstyled.d-flex
          li.social-icon.mr-1
            a(href='#').fa.fa-facebook
          li.social-icon.mr-1
            a(href='#').fa.fa-twitter
          li.social-icon.mr-1
            a(href='#').fa.fa-instagram
      //- Collumn Two
      .col-md-6.col-lg-4.mb-5
        h5.text-white Links
        .list-group.d-inline-flex
          a(href='#').list-group-item.p-color Project
          a(href='#').list-group-item.p-color About Us
          a(href='#').list-group-item.p-color Service
          a(href='#').list-group-item.p-color Blog Posts
          a(href='#').list-group-item.p-color Industries
        .list-group.d-inline-flex.ml-5
          a(href='#').list-group-item.p-color Concat
          a(href='#').list-group-item.p-color Help
          a(href='#').list-group-item.p-color Privacy Policy
          a(href='#').list-group-item.p-color Terms Of Use
      //- Collumn Three
      .col-md-6.col-lg.mb-5
        h5.text-white Services
        .list-group
          a(href='#').list-group-item.p-color Customer Services
          a(href='#').list-group-item.p-color Prompt Delivery
          a(href='#').list-group-item.p-color Reliable Equipment
          a(href='#').list-group-item.p-color Blog Posts
          a(href='#').list-group-item.p-color New Heavy Equipment
      //- Collumn Foure
      .col-md-6.col-lg.p-color
        h5.text-white Have a Questions?
        .info
          p.fa.fa-map-marker.mb-2 203 Fake St. Mountain View, San Francisco, California, USA
          p.fa.fa-phone.mb-2 +2651215236
          p.fa.fa-plane.mb-2 Info@YourDomin.com
    .row
      p.copyright.p-3.bg-primary.p-color.mb-0 Copyright ©2020 All rights reserved | <i class='fa fa-heart'></i> This template is made with  by Colorlib