// Start Brand Upper
div(class='brand-upper py-4')
  .container
    .row
      //- Strat Column One
      .col-md-4.d-flex.mb-3.mb-md-0
        a.navbar-brand.d-flex.align-items-center.text-uppercase(href='#')
          i.fa.fa-anchor.fa-2x.bg-primary.text-white.p-2
          span.ml-3.text-dark.font-weight-bold Wilcon
            small.d-block.font-weight-bold.text-primary Construction company
            
      //- Start Collumn Two
      .col-md-4.d-flex.align-items-center.mb-3.mb-md-0
        i.fa.fa-truck.fa-1x.p-2.border.border-primary.text-primary.mr-2
        span.d-block.info
          span Free Call
          | + 1234 456 78910 
          span.d-block.text-muted.font-weight-normal
            | Call Us Now 24/7 Customer Support

      //- Start Collumn Three
      .col-md-4.d-flex.align-items-center.mb-3.mb-md-0
        i.fa.fa-paper-plane.fa-1x.p-2.border.border-primary.text-primary.mr-2
        span.d-block.info
          span Free Call
          | + 1234 456 78910 
          span.d-block.text-muted.font-weight-normal
            | Call Us Now 24/7 Customer Support
// End Brand Upper