// Start nav-upper
div(class='upper-nav py-1 bg-secondary')
  .container
    div(class='row text-center text-md-left align-items-center')
      //- Coloumen One
      div(class='col-sm')
        div(class='d-flex align-items-center justify-content-center text-muted font-weight-bold mb-3 mb-md-0')
          i(class='fa fa-paper-plane mr-2 text-primary')
          span 'YourEmail@email.com'
      //- Collumen Two
      div(class='col-sm')
        div(class='social mb-3 m-md-0')
          ul(class='list-unstyled mb-0')
            li(class='fa fa-facebook fa-1x social-icon text-primary')
            li(class='fa fa-twitter fa-1x social-icon text-primary')
            li(class='fa fa-instagram fa-1x social-icon text-primary')
            li(class='fa fa-drupal fa-1x social-icon text-primary')
      div(class='col-12 col-md-5 col-lg-7 d-flex justify-content-center justify-content-md-end')
        button(class='btn btn-primary py-1 text-uppercase') InquerNow
// End nav-upper