extends sections/main/main.pug

block VaribleToChangeValue
  -styleFileName = 'all.min.css'
  -classActive = 'About'

block variblePageName
  -namePage ='About'

block Content
  include sections/section/sectTen
  include sections/section/sectThree
  include sections/section/sectFoure
  include sections/section/sectSix
  include sections/section/sectEleven
  include sections/section/sectEight


