extends sections/main/main.pug

block VaribleToChangeValue
  -styleFileName = 'all.min.css'
  -classActive = 'Blog'

block variblePageName
  -namePage ='Blog'

block Content
  include sections/section/sectTen
  include sections/section/sectNine
