nav
  ul.pagination.justify-content-center
      a(href='#').page-link
        i.fa.fa-arrow-left
      a(href='#').page-link 1
      a(href='#').page-link.active 2
      a(href='#').page-link 3
      a(href='#').page-link 4
      a(href='#').page-link 5
      a(href='#').page-link
        i.fa.fa-arrow-right