//- Section One
section.one(data-scrollax-parent="true")
  .container
    .row.align-items-center
      .col-lg-6
        .text
          h2.text-white
            | We build 
            br
            | Great Projects
          p.text-break
            | Far far away, behind the word mountains, far from the
            | there live the blind texts.ConsonantiaandVokaliaVokalia
            | Separated they live in Bookmarksgrov ecountries
          a.btn.btn-primary.mr-2(href='#') our Service
          a.btn.bg-white.font-weight-bold(href='#') Request A Quote