//- Section Six
section.six.pb-1.pb-md-0.m-5
  .container
    .row.no-gutters
      //- Collumn One
      .col-md-6
        .box-one.px-3.py-5
          small.text-primary Wilcon A Constrution Company
          h3.text-white Best Provider For Industrial Services
          p.text-primary Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, 
            | there live the blind texts.
          p.p-color Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, 
            | there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the 
            | Semantics, a large language ocean
      //- Collumn Two
      .col-md-6.d-md-flex.align-items-center
        .box-two
          .media.bg-primary.text-white.p-3.mb-1.align-items-center
            i.fa.fa-pencil.fa-3x.mr-3
            .media-body
              p.number#animtNumber1
              p.p-color.mb-0 Project Completed
          .media.bg-white.text-primary.p-3.align-items-center
            i.fa.fa-cab.fa-3x.mr-3
            .media-body
              p.text-dark.number#animtNumber2
              p.text-muted.mb-0 Happy Customers