-namePage

section.ten
    .container
      .box
        nav
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html').p-color Home
            li.breadcrumb-item.active #{ namePage }
        h3.p-color.h1 #{ namePage }