//- Section Three
section.three.py-5
  .container
    .row
      .col-md-6
        .image-box.w-100
          i.fa.fa-anchor.fa-3x.bg-primary.text-white.p-3
      .col-md-6
        .text-box.pt-5.pl-3
          small.text-primary.font-weight-bold Wellcome To Wilcon
          p.desc.font-weight-bold Wilcon A Construction Company
          .media
            i.fa.fa-pencil.fa-2x.text-primary.p-2
            .media-body
              p.font-weight-bold We're in this business since 1975 and We provide the best insdustrial services
          p.text-muted Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          .media.align-items-center
            a(class='img-link d-flex align-items-center justify-content-center flex-grow-1' href='#')
              i.fa.fa-play-circle.fa-3x.text-primary
            .media-body
              p.ml-3 This is how we work on our clients, Watch video