//- Section Two
section.two.mt-lg-n5
  .container
    .row.no-gutters
      .col-lg-4.d-flex
        .box.p-5.bg-secondary.text-white.d-flex
          .icon
            i.fa.fa-users.fa-2x.p-4.border.border.rounded-circle.bg-primary.mr-3
          .text
            h3 Quality Construction
            p A small river named Duden flows by their place and supplies it with the necessary regelialia
      .col-lg-4.d-flex
        .box.p-5.bg-primary.text-white.d-flex
          .icon
            i.fa.fa-users.fa-2x.p-4.border.border.rounded-circle.bg-secondary.mr-3
          .text
            h3 Professional Liability
            p A small river named Duden flows by their place and supplies it with the necessary regelialia
      .col-lg-4.d-flex
        .box.p-5.bg-secondary.text-white.d-flex
          .icon
            i.fa.fa-users.fa-2x.p-4.border.border.rounded-circle.bg-primary.mr-3
          .text
            h3 Dedicated To Our Clients
            p A small river named Duden flows by their place and supplies it with the necessary regelialia
